
$custom-text-color: #f1f2f6; //0077b6
$my-bg-color-light:#03045e; //0077b6

$my-bg-color-dark: #03045e; //rgb(47, 1, 1);
$custom-text-dark: #03045e;
$background-color: #03045e; // rgb(47, 1, 1);
$light-blue: #2CA8FF;
$error-color: #ff3860;
$form-shadow: #03045e;
$form-border: #ccc;
$success-color: #3a5147;
$side-link-hover: #2CA8FF;
//Move to Navbar scss file 
$nav-font: Georgia, 'Times New Roman', Times, serif;

